.navbar{
    height: 60px;
    background: var(--third);
    border-bottom: 1.5px solid var(--gray);
    z-index: 1000;
}

.navbar_nav{
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 1vw;
    list-style: none;
}

.logo{
    position: absolute;
    left: 2vw;
    top: 5px;
    max-height: 50px;
    margin: auto;
    margin-top: 0.2vh;
    cursor: pointer;
}

.search {
    width: 18%;
    max-height: 36px;
    display: flex;
    margin: auto 1vw; 
}

.search_input {
    width: 90%;
    border: 3px solid var(--gray);
    border-right: none;
    height: 36px;
    border-radius: 10px 0 0 10px;
    color: black;
    transition: all 1s ease;
}
 
.search:hover > .search_input, 
.search_input:focus {
    border: 3px solid var(--fifth);
    border-right: none;
    outline: none;
    color: black;
}

.search_submit {
    outline: none;
    padding-top: 5px;
    background: var(--first);
    height: 36px;
    border: 2px solid var(--gray);
    color: var(--letters);
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    transition: all 1s ease;
}

.search_submit:hover {
    background: var(--third);
}

.search_icon {
    padding-left: 2px;
    padding-right: 5px;
}

.nav_links{
    display: flex;
    justify-content: flex-end;
}

.nav_item{
    height: 48px;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: auto;
    margin-left: 25px;
    margin-right: 15px;
    margin-top: 2vh;
}

.nav_item > button{
    display: block;
    font-size: 20px;
    color: var(--letters);
    transition: all 0.5s ease;
}

.nav_item > button:hover{
    color: var(--first);
}

.icon_button {
    background-color: transparent;
    border-color: transparent;
    margin-top: -1rem;
}